@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --skyblue: #abc4ff;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--skyblue);
  color: #fff;
}

html {
  font-size: 64%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  background: #ededed;
}

section {
  padding: 1rem 7%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  /* color: #555; */
  color: var(--skyblue);
}

.heading span {
  color: var(--skyblue);
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--skyblue);
  color: var(--skyblue);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--skyblue);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #abc4ff;
  padding: 2rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(115, 225, 255, 0.5);
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}

header .logo i {
  padding-right: 0.5rem;
  color: white;
}

header .navbar a {
  text-decoration: none;
  font-size: 2rem;
  margin-left: 2rem;
  color: white;
}

header .navbar a:hover {
  color: black;
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #555;
  border: 0.1rem solid #555;
  border-radius: 0.3rem;
  padding: 0.5rem 1.5rem;
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}
.home .content :hover {
  color: rgb(0, 0, 0);
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 4s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(4rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: black;
}
.home .content h3 :hover {
  color: white;
}

.home .content p {
  font-size: 1.7rem;
  color: #555;
  padding: 1rem 0;
  text-align: justify;
}

.project .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.project .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.project .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.project .box-container .box .content h3 {
  font-size: 2.5rem;
  color: black;
}

.project .box-container .box .content p {
  font-size: 1.6rem;
  color: #555;
  padding: 1rem 0;
  text-align: justify;
  font-size: 12px;
}

.project .box-container .box:hover .image {
  top: 0;
}

.about .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.4rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  flex: 1 1 30rem;
  background: #abc4ff;
  margin-top: 6rem;
}

.about .box-container .box img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  border: 0.4rem solid #fff;
  margin-top: -10rem;
  object-fit: cover;
}

.about .box-container .box h3 {
  font-size: 4rem;
  color: #fff;
  padding: 0.5rem 0;
}

.about .box-container .box p {
  font-size: 2rem;
  color: rgb(0, 92, 90);
  padding: 1rem 0;
}

footer {
  text-align: center;
  margin-bottom: 3rem;
}

footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

footer .credit {
  padding: 2.5rem 1rem;
  color: var(--skyblue);
  font-weight: normal;
  font-size: 2rem;
}

footer .credit i {
  color: red;
}

footer .credit span {
  color: var(--skyblue);
}

#scroll-top {
  position: fixed;
  top: -120%;
  right: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 4rem;
  background: var(--skyblue);
  color: #fff;
  border-radius: 0.5rem;
  transition: 1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 12rem);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid var(--skyblue);
    background: #fff;
  }
}
